@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@font-face {
  font-family: 'Hubot Sans';
  src:
    url('../fonts/Hubot-Sans.woff2') format('woff2 supports variations'),
    url('../fonts/Hubot-Sans.woff2') format('woff2-variations');
  font-weight: 200 900;
  font-stretch: 75% 125%;
  /*ExtraLight Narrow	ExtraLight Narrow Italic	200	75
    Light Narrow	Light Narrow Italic	300	75
    Regular Narrow	Regular Narrow Italic	400	75
    Medium Narrow	Medium Narrow Italic	500	75
    SemiBold Narrow	SemiBold Narrow Italic	600	75
    Bold Narrow	Bold Narrow Italic	700	75
    ExtraBold Narrow	ExtraBold Narrow Italic	800	75
    Black Narrow	Black Narrow Italic	900	75
    ExtraLight	ExtraLight Italic	200	100
    Light	Light Italic	300	100
    Regular	Regular Italic	400	100
    Medium	Medium Italic	500	100
    SemiBold	SemiBold Italic	600	100
    Bold	Bold Italic	700	100
    ExtraBold	ExtraBold Italic	800	100
    Black	Black Italic	900	100
    ExtraLight Wide	ExtraLight Wide Italic	200	125
    Light Wide	Light Wide Italic	300	125
    Regular Wide	Regular Wide Italic	400	125
    Medium Wide	Medium Wide Italic	500	125
    SemiBold Wide	SemiBold Wide Italic	600	125
    Bold Wide	Bold Wide Italic	700	125
    ExtraBold Wide	ExtraBold Wide Italic	800	125
    Black Wide	Black Wide Italic	900	125 */
}
:root {
  --jbg:  #0d1117;
  --jpink: #FF69B4;
    --jpurple: #9773ff;
  --jlightpink: #efceff;
}
html {
  background-color: var(--jbg);
  font-family: "Roboto", sans-serif, 'Hubot Sans';
  color: var(--jlightpink);
}
a {
    color: var(--jlightpink);
    text-decoration: none;
}
.background {
    background-color: var(--jbg);
}

.subheader {
  font-family: 'Hubot Sans', "Roboto", sans-serif;
  font-size: 2vw
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1.25rem;
}

.head {
  font-size: 1.5rem;
}
.link {
    padding:1.25rem;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.text-l {
    font-size: 4rem;
}
.hubot {
  font-family: 'Hubot Sans', "Roboto", sans-serif;
}
.purple {
  color: var(--jpurple)
}

#gradblock {
    display: flex;
    padding: 17.5vw;
    line-height: 3.5vw;
}

#gradblock:hover {

}

#aboutcards {
  display:flex;
  flex-wrap:wrap;
}

.card {
  padding:1.5rem;
  flex: 1;
}

.blurb {
  padding-top: 1.5rem;
}
