---
import Layout from '../layouts/Layout.astro';
import '../styles/utils.css'
---

<Layout title="Jacob Ng">
	<main>
<div id="aboutcards">
	<div class="card">
		<div class="blurb" style="font-size: 2rem"><span class="text-l hubot purple">Jacob Ng</span><br>Hello! My name is Jacob Ng, a current high school junior at Brophy College Preparatory. Coding is one of my favorite pastimes, and I have been learning all sorts of languages like Java, Python, HTML, CSS, and Javascript since Freshman year. I love music, video games, and fashion. Enjoy the website and my portfolios!
		</div>
	</div>
	<div class="card">
		<div class="">image</div>
	</div>
</div>
	</main>
</Layout>

<style>
</style>