---
import Layout from "../layouts/Layout.astro";
import '../styles/utils.css'
---

<Layout title="Jacob Ng">
  <main>
  </main>
</Layout>
<div class="center" id="gradblock">
  <div class="">
    <div class="text-l"> Jacob Ng <br><span class="subheader">High School Junior</span> </div>
    <div class=""></div>  <!--make text responsive and the image behind it will also be responsive -->
  </div>
</div>

<section>
  <div>Hi my name is Jacob</div>
</section>


<style></style>
