---
import Layout from "../layouts/Layout.astro";
import "../styles/utils.css";
import Bidoof from "../components/Bidoof.svelte";
import Button from "../components/Button.svelte";
import Projects from "../components/Projects.svelte";
import Art from "../components/Art.svelte";
import Contact from "../components/Contact.svelte";
import TextBackground from "../components/TextBackground";
// import Button2 from "../components/Button.svelte";
---

<Layout title="Jacob Ng">
  <main></main>
</Layout>
<TextBackground client:only="solid" />
<div class="center" id="gradblock">
  <div class="text-l" id=" JacobNg">
    Jacob Ng <br /><span class="subheader">High School Senior</span>
  </div>
  <!--make text responsive and the image behind it will also be responsive -->
</div>
<Button client:load number={1} class={"margin"} />

<div class="Main">
  <div id="aboutme">
    <Bidoof client:only />
  </div>
  <Projects client:visible />
  <Art client:visible />
</div>
<Contact client:visible />

<style></style>
